@import '../../../scss/_partials/variables';
.search-box{
    display: inline-flex;
    gap: 15px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 0 5px;
    padding: 5px 10px;
    align-items: center;
    background: $bg-secondary;

        img{
            height: 20px;
            width: 20px;
        }
        .search-field {
        outline: none;
        padding: 0;
        border: none;
        background: none;
    }  & :focus{
        border: none;
        outline: none;
        box-shadow: none;
        background: none;
        padding: 0;
    }
}
